body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color:black;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}
.slika{
width : 80%;
object-fit:contain;
 display: block;
 margin-left: auto;
 margin-right: auto;
 box-shadow: 0px 0px 150px 1px #996600;
}
.div_slika{
padding: 120px 0px;
position:relative;
}

.banner_nav {
    position: fixed;
    right: 10px;
    top: 50%;
	margin-top: -143px;
	z-index: 105;
	max-width: 80%;
}
.banner_nav .item {
	opacity:0.8;
	box-shadow: 0 0 100px rgba(65,61,52,1), 0 0 6px rgba(232,190,107,0.8);
	border: 1px solid #000;
	margin-left: auto;
	margin-right: 0;
	margin-bottom: 10px;
	border-radius: 13px;
	width: 27px;
	max-width: 100%;
	height: 27px;
	font-size: 18px;
	font-family: 'Bender';
	color: #9a8866;
	background: black;
    cursor: pointer;
	text-align: center;
	line-height: 1.3em;
	position: relative;
	overflow: hidden;
	-webkit-transition: width 0.2s ease-in-out;
	-moz-transition: width 0.2s ease-in-out;
	-o-transition: width 0.2s ease-in-out;
	transition: width 0.2s ease-in-out;
}
.banner_nav .item.active {
	opacity:1;
	background: #9a8866;
	color: black;
}
.banner_nav .item.last {
	margin-bottom: 0;
}
.banner_nav .item div {
	display: none;
	padding: 0;
	margin: 0;
	width:100%;
}
.banner_nav .item:hover div {
	display: block;
}
.banner_nav .item:hover {
	width: 310px;
}

.overlay {
  position: absolute;
  top: 11%;
  bottom: 0;
  left: 10%;
  right: 0;
  height: 78%;
  width: 80%;
  opacity: 0;
  transition: .5s ease;
  background: rgba(0,0,0,0.5);
}

.overlay:hover {
  opacity: 1;
}

.text {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.naslov{
	font-size : 50pt;
	font-family : Bookman;
	text-align : center;
	color: white;
	position: relative;
	top: 100px;
	z-index : 2;
}

html {
  scroll-behavior: smooth;
}