.topnav {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: #333;
  z-index:3;

}

.topnav a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 38px 44px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #ddd;
  color: black;
}
.topnav-center {
	float:none;
	position: absolute;
	top: 50%;
	left: 47%;
	transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
  position: relative;
  right : 20px;
  top: 14px;
}

.ime{
	position : relative;
	right : 30px;
	top : 2px;
	color : white;
	padding : 6px;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.logo a{
  padding: 10px 0px;
}
.logo a:hover{
  background-color: #333;
}